<p-dialog [(visible)]="cancelMode" [modal]="true" [responsive]="true" [closable]="false"  class="absolute">
   
   <div class="w-[80vh] h-[60vh] flex items-start justify-center ">
       <div class="h-[95%] w-[95%]">
         <div class="h-[10%] flex items-center justify-between w-full"> 
            <h3 class="h3 text-[#28094F]">Enter Trip Id:</h3>
            <button (click)="cancelMode = !cancelMode">
                <i class="fa fa-times text-[20px]" aria-hidden="true"></i>
            </button>
        </div>
        <div class=" w-[100%] h-[20%] pt-4">
         <form (ngSubmit)="cancelTrip()" #rideForm="ngForm">
            <div class="form-group mb-3">
               <label>Enter Trip ID:</label>
               <div>
                 <input class="form-controls" #trip_id="ngModel"
                   type="email" name="email" [(ngModel)]="credentials.trip_id"
                   placeholder="Enter CancelTrip ID" />
               </div>
              <button type="submit" class="bg-[#D2042D] text-white p-2 rounded-2xl px-4 mt-2">Cancel</button>
             </div>
          </form>
      </div>
         </div>  
   </div>                                 
</p-dialog>

<div class="w-full h-full bg-[#FAFAF9] border-r-2 border-[#EEECF6]">
   <div class="logo h-[10%] w-full p-2 px-4 flex items-center">
       <a [hidden]="false" [routerLink]="['/']">
           <img src="./assets/img/brand/Logo.png" class="navbar-brand-img" alt="..." style="width: 130px;">
       </a>
   </div>
   <div *ngFor="let routeInfo of ROUTES; let i = index">
      <div class="parent flex  my-3" >
            <div class="w-[2%] indicator" [ngClass]="{'active': isActive(routeInfo.path)}"></div>
            <div class="w-[98%]">
               <a [hidden]="false" [routerLink]="routeInfo.path ">
                  <div class="w-full flex items-center px-4 h-[60px]">
                     <p class="nav-title text-black10 ">{{ routeInfo.title }}</p>
                  </div>
               </a>  
            </div>
         </div>
   </div>
   <div class="p-4 cursor-pointer h-[80%] flex items-end pb-4"  (click)="cancelMode = !cancelMode">
      <span class="bg-[#D2042D] w-[60%] flex justify-center items-center text-white rounded-3xl p-1">
         Cancle Trip <i class="fa-solid fa-remove mx-2"></i>
       </span>
   </div>
   
</div>
