.parent:hover .nav-title {
    color: #57534E;
    font-weight: 700;
  }

  .indicator {
    transition: background-color 0.3s ease-in-out;
    background-color: transparent;
}

.indicator.active {
    background-color: #28094F; /* Change to your desired color */
}


.form-style {
  display: block;
  width: 100%;
  color: rgb(6, 6, 36);            
}

.form-error {
  color: rgb(245, 72, 72);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
  text-align: justify;
  line-height: 1.4rem;
}
.form-controls {
  border: 2px solid ;
  border-radius: 12px;
  color: #CBD5E1;
  padding: 12px;
  width: 100%;
}
.form-controls::placeholder {
  color: rgb(18, 18, 18);
}

label {
  color: #344054;
}

.password-input {
  position: relative;
}



